{
    "openapi": "3.0.1",
    "info": {
        "title": "Cuadremos API",
        "description": "This is the API to manage and split the expenses that some group could have. You can find out more about us in [https://cuadremos.cl](https://cuadremos.cl). For testing purpose, you can use the api key `special-key` to test the authorization filters.",
        "termsOfService": "https://cuadremos.cl/terms/",
        "contact": {
            "email": "contact@cuadremos.cl"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "0.0.1"
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    },
    "servers": [
        {
            "url": "https://cuadremos.cl/v0-0-1"
        },
        {
            "url": "http://cuadremos.cl/v0-0-1"
        }
    ],
    "tags": [
        {
            "name": "User",
            "description": "API operations for users in the system",
            "externalDocs": {
                "description": "Find out more about ",
                "url": "https://cuadremos.cl/login"
            }
        }
    ],
    "paths": {
        "/users": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Delete all users",
                "description": "This is the operation to delete all users in the system.",
                "operationId": "delete_all_users",
                "responses": {
                    "200": {
                        "description": "Users deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Message confirming quantity of users deleted"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            },
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get all users",
                "description": "This is the operation to get all users in the system.",
                "operationId": "get_all_users",
                "responses": {
                    "200": {
                        "description": "Users found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserModel"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Create an user",
                "description": "This is the operation to create new users in the system.",
                "operationId": "insert_an_user",
                "requestBody": {
                    "description": "User creation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "User successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            }
        },
        "/users/{userId}": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Delete an users",
                "description": "This is the operation to delete an specific user in the system.",
                "operationId": "delete_an_user",
                "responses": {
                    "200": {
                        "description": "Specific user deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Message confirming user deletion"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            },
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get an user",
                "description": "This is the operation to get an specific user in the system.",
                "operationId": "get_an_user",
                "responses": {
                    "200": {
                        "description": "Specific user found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserModel"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Update an specific user",
                "description": "This is the operation to update an existing user in the system.",
                "operationId": "update_an_user",
                "requestBody": {
                    "description": "Specific user updating",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "User successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            }
        },
        "/users/{userId}/expenses": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Delete all expenses of an user",
                "description": "This is the operation to delete all expenses of an specific user in the system.",
                "operationId": "delete_all_expenses_by_user",
                "responses": {
                    "200": {
                        "description": "User's expenses deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Message confirming user-expenses deletion"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            },
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get all expenses of an user",
                "description": "This is the operation to get all expenses of an specific user in the system.",
                "operationId": "get_all_expenses_by_user",
                "responses": {
                    "200": {
                        "description": "Specific user-expenses found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ExpenseModel"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Create a new expense for an specific user",
                "description": "This is the operation to create a new expense for an existing user in the system.",
                "operationId": "insert_an_expense_by_user",
                "requestBody": {
                    "description": "Specific user-expense creation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExpenseRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "User successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            }
        },
        "/users/{userId}/salaries": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Delete all salaries of an user",
                "description": "This is the operation to delete all salaries of an specific user in the system.",
                "operationId": "delete_all_salaries_by_user",
                "responses": {
                    "200": {
                        "description": "User's salaries deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Message confirming user-salaries deletion"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            },
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get all salaries of an user",
                "description": "This is the operation to get all salaries of an specific user in the system.",
                "operationId": "get_all_salaries_by_user",
                "responses": {
                    "200": {
                        "description": "Specific user-salaries found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SalaryModel"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Create a new salary for an specific user",
                "description": "This is the operation to create a new salary for an existing user in the system.",
                "operationId": "insert_an_salary_by_user",
                "requestBody": {
                    "description": "Specific user-salary creation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SalaryRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "User successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            }
        },
        "/users/{userId}/expenses/{expenseId}": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Delete an specific expense of an user",
                "description": "This is the operation to delete an specific expense of an specific user in the system.",
                "operationId": "delete_an_expense_by_user",
                "responses": {
                    "200": {
                        "description": "User's expense deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserModel"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            },
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get an specific expense of an specific user",
                "description": "This is the operation to get an specific expense of an specific user in the system.",
                "operationId": "get_an_expense_by_user",
                "responses": {
                    "200": {
                        "description": "Specific user-expense found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ExpenseModel"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Update an specific expense for an specific user",
                "description": "This is the operation to update an specific expense for an existing user in the system.",
                "operationId": "update_an_expense_by_user",
                "requestBody": {
                    "description": "Specific user-expense updating",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExpenseRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "User successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            }
        },
        "/users/{userId}/salaries/{salaryId}": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Delete an specific salary of an user",
                "description": "This is the operation to delete an specific salary of an specific user in the system.",
                "operationId": "delete_a_salary_by_user",
                "responses": {
                    "200": {
                        "description": "User's salary deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserModel"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            },
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get an specific salary of an specific user",
                "description": "This is the operation to get an specific salary of an specific user in the system.",
                "operationId": "get_a_salary_by_user",
                "responses": {
                    "200": {
                        "description": "Specific user-salary found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SalaryModel"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Update an specific salary for an specific user",
                "description": "This is the operation to update an specific salary for an existing user in the system.",
                "operationId": "update_a_salary_by_user",
                "requestBody": {
                    "description": "Specific user-salary updating",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SalaryRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "User successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "cuadremos_auth": [
                            "write:users",
                            "read:users"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "ExpenseModel": {
                "type": "object",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "MongoDB autogenerated id"
                    },
                    "total": {
                        "type": "string",
                        "description": "User's expense total"
                    },
                    "personal_total": {
                        "type": "string",
                        "description": "User's non-cumulative expense amount"
                    },
                    "description": {
                        "type": "string",
                        "description": "Expense description comment"
                    },
                    "expense_date": {
                        "type": "string",
                        "description": "User's expense date",
                        "format": "date-time"
                    },
                    "created_date": {
                        "type": "string",
                        "description": "User's expense creation date in the system",
                        "format": "date-time"
                    }
                },
                "required": [
                    "total",
                    "description",
                    "expense_date"
                ]
            },
            "SalaryModel": {
                "type": "object",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "MongoDB autogenerated id"
                    },
                    "total": {
                        "type": "string",
                        "description": "User's salary amount"
                    },
                    "salary_date": {
                        "type": "string",
                        "description": "User's salary date",
                        "format": "date-time"
                    },
                    "created_date": {
                        "type": "string",
                        "description": "User's salary creation date in the system",
                        "format": "date-time"
                    }
                },
                "required": [
                    "total",
                    "salary_date"
                ]
            },
            "UserModel": {
                "type": "object",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "MongoDB autogenerated id"
                    },
                    "name": {
                        "type": "string",
                        "description": "Names of the user"
                    },
                    "lastname": {
                        "type": "string",
                        "description": "Lastnames of the user"
                    },
                    "mail": {
                        "type": "string",
                        "description": "Email of the user"
                    },
                    "mobile_number": {
                        "type": "string",
                        "description": "Mobile phone number of the user"
                    },
                    "created_date": {
                        "type": "string",
                        "description": "User's creation date in the system",
                        "format": "date-time"
                    },
                    "salaries": {
                        "type": "array",
                        "description": "Array with user's salaries",
                        "items": {
                            "$ref": "#/components/schemas/SalaryModel"
                        }
                    },
                    "expenses": {
                        "type": "array",
                        "description": "Array with user's expenses",
                        "items": {
                            "$ref": "#/components/schemas/ExpenseModel"
                        }
                    }
                },
                "required": [
                    "name",
                    "lastname",
                    "mail",
                    "mobile_number"
                ],
                "xml": {
                    "name": "User"
                }
            },
            "ExpenseRequestBody": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "string",
                        "description": "User's expense total"
                    },
                    "personal_total": {
                        "type": "string",
                        "description": "User's non-cumulative expense amount"
                    },
                    "description": {
                        "type": "string",
                        "description": "Expense description comment"
                    },
                    "expense_date": {
                        "type": "string",
                        "description": "User's expense date",
                        "format": "date-time"
                    }
                },
                "required": [
                    "total",
                    "description",
                    "expense_date"
                ]
            },
            "SalaryRequestBody": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "string",
                        "description": "User's salary amount"
                    },
                    "salary_date": {
                        "type": "string",
                        "description": "User's salary date",
                        "format": "date-time"
                    }
                },
                "required": [
                    "total",
                    "salary_date"
                ]
            },
            "UserRequestBody": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Names of the user"
                    },
                    "lastname": {
                        "type": "string",
                        "description": "Lastnames of the user"
                    },
                    "mail": {
                        "type": "string",
                        "description": "Email of the user"
                    },
                    "mobile_number": {
                        "type": "string",
                        "description": "Mobile phone number of the user"
                    },
                    "salaries": {
                        "type": "array",
                        "description": "Array with user's salaries",
                        "items": {
                            "$ref": "#/components/schemas/SalaryRequestBody"
                        }
                    },
                    "expenses": {
                        "type": "array",
                        "description": "Array with user's expenses",
                        "items": {
                            "$ref": "#/components/schemas/ExpenseRequestBody"
                        }
                    }
                },
                "required": [
                    "name",
                    "lastname",
                    "mail",
                    "mobile_number"
                ],
                "xml": {
                    "name": "User"
                }
            }
        },
        "securitySchemes": {
            "cuadremos_auth": {
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "http://cuadremos.cl/oauth/dialog",
                        "scopes": {
                            "write:users": "modify users in your account",
                            "read:users": "read your users"
                        }
                    }
                }
            },
            "api_key": {
                "type": "apiKey",
                "name": "api_key",
                "in": "header"
            }
        }
    }
}